{% extends "base.html" %}

{% block title %}Class Schedules{% endblock %}

{% block content %}
  <div class="container">
    <h2>All Schedules</h2>

    <table border="1">
      <tr>
        <th>Class</th>
        <th>School</th>
        <th>Day</th>
        <th>Time</th>
      </tr>
      {% for sch in schedules %}
        <tr>
          <td>{{ sch.class }}</td>
          <td>{{ sch.school }}</td>
          <td>{{ sch.day }}</td>
          <td>{{ sch.time }}</td>
        </tr>
      {% endfor %}
    </table>

    <br>
    <a href="javascript:history.back()">
      <button>⬅ Back</button>
    </a>
  </div>
{% endblock %}
