{% extends "base.html" %}

{% block title %}Add Schedule{% endblock %}

{% block content %}
  <div class="container">
    <h2>Add Class Schedule</h2>

    <form method="POST" action="/admin/add-schedule">
      Class: <input type="number" name="class" required><br>
      School: <input type="text" name="school" required><br>
      Subject: <input type="text" name="subject" required><br>
      Date: <input type="date" name="date" required><br>
      Schedule Time: <input type="text" name="schedule_time" placeholder="e.g. Monday 4:00 PM - 5:00 PM" required>
      <input type="submit" value="Add Schedule">
    </form>


    <br>
    <a href="javascript:history.back()">
      <button>⬅ Back</button>
    </a>
  </div>
{% endblock %}
