<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="page-header">
  <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo">
  <div class="title">Gajanan Classes</div>
</div>

<div class="main-content">


  <div class="container">
    <h1>Welcome, Admin</h1>

    <ul>
      <li><a href="/admin/students">View Students</a></li>
      <li><a href="/admin/schedules">View Schedules</a></li>
      <li><a href="/admin/tests">View Tests</a></li>
      <li><a href="/admin/add-student">Add Student</a></li>
      <li><a href="/admin/add-schedule">Add Schedule</a></li>
      <li><a href="/admin/add-test">Add Test</a></li>
    </ul>

    <hr>
    <br>
<a href="/logout"><button>Logout</button></a>

</div>
  </div>
</body>
</html>
