{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
    <div class="container">
        <h1>Welcome, Admin</h1>
        <ul>
            <li><a href="/admin/students">View Students</a></li>
            <li><a href="/schedules">View Schedules</a></li>
            <li><a href="/tests">View Tests</a></li>
            <li><a href="/admin/add-schedule">Add Schedule</a></li>
            <li><a href="/admin/add-test">Add Test</a></li>
            <li><a href="/admin/pending-students">Pending Student Approvals</a></li>
        </ul>
        <hr>
        <br>
        <a href="/logout"><button><i class="fas fa-sign-out-alt"></i>Logout</button></a>
    </div>
{% endblock %}
