{% extends "base.html" %}
{% block title %}Manage Metadata{% endblock %}

{% block content %}
<div>
  <h2>Manage Metadata</h2>

  <form method="POST">
    <label for="field">Field:</label>
    <select name="field" required>
      <option value="subjects">Subject</option>
      <option value="schools">School</option>
      <option value="classes">Class</option>
    </select><br>

    <label for="value">New Value: </label>
    <input type="text" id="value" name="value" required><br>

    <button type="submit">➕ Add</button>
  </form>
  <br>
  <hr>
  <br>
  <h3>Subjects</h3>
  <table>
    {% for item in metadata.subjects %}
      <tr><td>{{ item }}</td><td><a href="/admin/delete-metadata/subjects/{{ item }}">🗑️ Delete</a></td></tr>
    {% endfor %}
  </table><br>

  <h3>Schools</h3>
  <table>
    {% for item in metadata.schools %}
      <tr><td>{{ item }}</td><td><a href="/admin/delete-metadata/schools/{{ item }}">🗑️ Delete</a></td></tr>
    {% endfor %}
  </table><br>

  <h3>Classes</h3>
  <table>
    {% for item in metadata.classes %}
      <tr><td>{{ item }}</td><td><a href="/admin/delete-metadata/classes/{{ item }}">🗑️ Delete</a></td></tr>
    {% endfor %}
  </table><br>

  <br>
  <form action="/admin/dashboard" method="get">
      <button type="submit">⬅ Back to Dashboard</button>
    </form>
</div>
{% endblock %}
