{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
  <h2><i class="fas fa-key"></i> Login</h2>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <form name="loginForm" method="POST" onsubmit="return validateForm()">
    <label for="username">Username:</label>
    <input type="text" name="username" required>

    <label for="password">Password:</label>
    <input type="password" name="password" required>

    <div class="forgot-password-link">
        <a href="/reset-password" class="link-button">Forgot Password <i class="fas fa-question-circle"></i></a>
      </div>

    <button type="submit">Login</button>
  </form>

  <hr>
    <div style="margin-top: 10px;">
      <a href="/signup">New user? <i class="fas fa-pencil-alt"></i> Sign up here</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  function validateForm() {
    const username = document.forms["loginForm"]["username"].value.trim();
    const password = document.forms["loginForm"]["password"].value.trim();
    if (username === "" || password === "") {
      alert("Both fields are required.");
      return false;
    }
    return true;
  }
</script>
{% endblock %}
