{% extends "base.html" %}

{% block title %}Set New Password{% endblock %}

{% block content %}
<div class="container">
    <h2>Set a New Password</h2>
    <form method="POST">
        <label for="password">New Password:</label><br>
        <input type="password" name="password" required minlength="8"
               pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[\W_]).+"
               title="Password must include uppercase, lowercase, number, and special character."><br><br>
        <button type="submit">Update Password</button>
    </form>
</div>
{% endblock %}
