{% extends "base.html" %}
{% block title %}Student <i class="fas fa-pencil-alt"></i>Signup{% endblock %}

{% block content %}
<div class="container">
  <h2>Student Signup</h2>
  <form method="POST" action="/signup" onsubmit="return validateSignupForm()">
        <label for="name">Name: </label><br>
        <input name="name" required><br><br>
        <label for="class">Class: </label><br>
        <input name="class" type="number" required><br><br>
        <label for="school">School: </label><br>
        <input name="school" required><br><br>
        <label for="contact">Contact: </label><br>
        <input name="contact" pattern="\d{10}" title="Phone number must be 10 digits" required><br><br>
        <label for="email">Email: </label><br>
        <input name="email" type="email" required><br><br>
        <label for="username">Username: </label><br>
        <input name="username" required><br><br>
        <label for="password">Password: </label><br>
        <input name="password" type="password" required><br><br>
        <button type="submit"><i class="fas fa-pencil-alt"></i> Signup</button>
  </form>
  <br>
  <a href="/login">Already have an account? <i class="fas fa-key"></i> Login</a>
</div>

<script>
function validateSignupForm() {
  const password = document.querySelector('input[name="password"]').value;
  const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*(),.?":{}|<>]).{8,}$/;

  if (!regex.test(password)) {
    alert("Password must be at least 8 characters and include uppercase, lowercase, number, and special character.");
    return false;
  }
  return true;
}
</script> 
{% endblock %}