{% extends "base.html" %}
{% block title %}Student Signup{% endblock %}

{% block content %}
<div class="container">
  <h2>Student Signup</h2>
  <form method="POST" action="/signup">
        Name: <input name="name" required><br>
        Class: <input name="class" type="number" required><br>
        School: <input name="school" required><br>
        Contact: <input name="contact" pattern="\d{10}" required><br>
        Email: <input name="email" type="email" required><br>
        Username: <input name="username" required><br>
        Password: <input name="password" type="password" required><br>
        <button type="submit">Signup</button>
    </form>
   <br>
   <a href="/login">Already have an account? Login</a>
</div>
{% endblock %}
